.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: $pColor;
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: #F1F8FF !important;
}